examples/zuora-twilio-app/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:twiml="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twiml"
      xmlns:zuora="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-zuora"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twiml http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twiml/1.0/mule-twiml.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-zuora http://repository.mulesoft.org/releases/org/mule/modules/mule-module-zuora/1.0/mule-zuora.xsd">

    <description>
        Zuora TwiML App
    </description>

    <spring:beans>
        <context:property-placeholder
                location="classpath:credentials.properties"/>
    </spring:beans>

    <zuora:config username="${zuora.username}"
                  password="${zuora.password}" endpoint="https://apisandbox.zuora.com/apps/services/a/29.0"/>

    <twiml:config>
        <twiml:http-callback-config localPort="8081" remotePort="80"/>
    </twiml:config>

    <flow name="main">
        <http:inbound-endpoint host="localhost" port="8081"/>
        <twiml:response>
            <twiml:say>You have reached Mule iON Support Line</twiml:say>
            <twiml:gather action-flow-ref="get-account">
                <twiml:say>Please enter your account number, followed by pound sign.</twiml:say>
            </twiml:gather>
            <twiml:say>Sorry I didn't recognize that. Goodbye!</twiml:say>
        </twiml:response>
    </flow>

    <flow name="input-account">
        <twiml:gather action-flow-ref="get-account">
            <twiml:say>Please enter your account number, followed by pound sign.</twiml:say>
        </twiml:gather>
        <twiml:say>Sorry I didn't recognize that. Goodbye!</twiml:say>
    </flow>

    <flow name="get-account">
        <logger level="INFO" message="Retrieving account A#[groovy:message.getInboundProperty('digits')]"/>
        <zuora:find
                zquery="SELECT Id, Name FROM Account WHERE AccountNumber='A#[groovy:message.getInboundProperty('digits')]'"/>
        <script:component>
            <script:script engine="groovy">
                payload.firstPage().getRecords().get(0)
            </script:script>
        </script:component>
        <logger level="INFO"/>
        <choice>
            <when>
                <payload-type-filter expectedType="com.zuora.api.object.Account"/>
                <script:component>
                    <script:script engine="groovy">
                        message.setInboundProperty("AccountId", payload.getId())
                        message.setInboundProperty("Name", payload.getName())
                        payload
                    </script:script>
                </script:component>
                <flow-ref name="retrieve-invoices"/>
            </when>
            <otherwise>
                <twiml:response>
                    <twiml:say>I'm sorry I don't know any account by that number.</twiml:say>
                    <!-- <flow-ref name="input-account"/> -->
                    <twiml:gather action-flow-ref="get-account">
                        <twiml:say>Please enter your account number, followed by pound sign.</twiml:say>
                    </twiml:gather>
                    <twiml:say>Sorry I didn't recognize that. Goodbye!</twiml:say>
                </twiml:response>
                <logger level="INFO" message="#[payload]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="retrieve-invoices">
        <zuora:find zquery="SELECT Balance, DueDate FROM Invoice WHERE AccountId='#[bean:id]'"/>
        <script:component>
            <script:script engine="groovy">
                payload.firstPage().getRecords().get(payload.firstPage().getSize() - 1)
            </script:script>
        </script:component>
        <logger level="INFO" message="#[payload]"/>
        <script:component>
            <script:script engine="groovy">
                message.setInboundProperty("FormattedDueDate", payload.getDueDate().toGregorianCalendar().getTime().format("MMMMM dd yyyy"))
                payload
            </script:script>
        </script:component>
        <logger level="INFO"/>
        <twiml:response>
            <twiml:say>
                <expression-transformer evaluator="string"
                                        expression="Hello #[groovy:message.getInboundProperty('Name')]! You have an invoice with a balance of #[groovy:payload.getBalance()] due on #[groovy:message.getInboundProperty('FormattedDueDate')]."/>
            </twiml:say>
        </twiml:response>
    </flow>

</mule>
